{% extends "base.html" %}

{% block content %}
{% load addcss %}
{% load addplaceholder %}
{% load addtagfield %}
 <ul class="list-group main-section">
  <li class="list-group-item new-question-title">
    New Question
  </li>
  <li class="list-group-item new-question-form">
    <form method="post">
      {% csrf_token %}
  <div class="form-group">
    <label class="new-question-form-label" for="{{form.title.id_for_label}}">Title of the Question</label>
    {{ form.title|addplaceholder:"What's you question? Be specific."}}
  </div>
  <div class="form-group">
    <label class="new-question-form-label" for="{{form.tags.id_for_label}}">Question Tags</label>
    {{ form.tags|addtagfield:"At least one tag, max 3 tags, comma separated."}}

  {% if form.tags.errors %}
    {% for error in form.tags.errors %}
        <p class="error">{{error}}</p>
    {% endfor %}
  {% endif %}
  </div>
  <div class="form-group">
    <label class="new-question-form-label" for="{{form.content.id_for_label}}">Question Details</label>
    {{ form.content|addcss:"form-control"}}
  </div>
  <div class="form-group new-question-form-submit">
  <button type="submit" class="btn btn-success">Submit Question</button>
  </div>
</form>
  </li>
 </ul>

{% endblock %}
