<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand col-md-2" href="/">HASKER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 search-form" id="searchform" action="{% url 'search' %}" method="get" accept-charset="utf-8">
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      <input class="form-control mr-sm-2 search-input" id="searchbox" name="q" type="search" aria-label="Search" placeholder="Search">
    </form>
    <ul class="navbar-nav ml-auto justify-content-around">
    	 <li class="nav-item">
    <a href="/ask">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ask Question!</button>
	</a>
</li>
 <li class="nav-item">
    <a class="btn btn-outline-primary my-2 my-sm-0 d-lg-none" href="/user">Profile</a>
</li>
</ul>
  </div>
</nav>
